.blackout {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4999;
  width: 100vw;
  height: 100vh;
  background-color: $black;
  opacity: 0.8;

  &--hidden {
    display: none;
  }

  &--transparent {
    background-color: transparent;
    z-index: 4999;
    display: block;
  }
}
