.discuss {
  display: block;
  background-color: $white;

  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 538px;
  box-shadow: 12px 10px 24px rgba(165, 165, 165, 0.12);
  border-radius: 16px;
  padding: 32px 42px 47px;

  animation-name: show;
  animation-duration: 0.7s;

  &--hidden {
    display: none;
  }
}

@keyframes show {
  0% {
    transform: translate(-50%, -150%);
  }

  25% {
    transform: translate(-50%, -50%);
  }

  50% {
    transform: translate(-50%, -75%);
  }

  100% {
    transform: translate(-50%, -50%);
  }
}

.discuss__close-button {
  @include reset-button;

  position: absolute;
  width: 25px;
  height: 25px;
  top: 16px;
  right: 24px;
}

.discuss__close-button::after,
.discuss__close-button::before {
  position: absolute;
  content: "";
  width: 27px;
  height: 2px;
  opacity: 0.8;
  background-color: $black;
  top: 9px;
  left: 3px;
}

.discuss__close-button::after {
  transform: rotate(-45deg);
}

.discuss__close-button::before {
  transform: rotate(45deg);
}

.discuss__close-button:hover::after,
.discuss__close-button:focus::after,
.discuss__close-button:hover::before,
.discuss__close-button:focus::before {
  background-color: $blue;
}

.discuss__close-button:active {
  opacity: 0.5;
}

.discuss__question {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 12px;
}

.discuss__description {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 24px;
}

.discuss__form-item {
  padding: 0;
  margin: 0;
  border: none;

  &--name {
    margin-bottom: 24px;
  }

  &--phone {
    margin-bottom: 26px;
  }
}

.discuss__input {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 9px;
  width: 100%;
  padding: 15px;
  font-size: 16px;
  line-height: 18px;
  outline: none;
}

.discuss__input:hover,
.discuss__input:focus {
  border-color: $black;
}

.discuss__input--error {
  border-color: $red;
}

.discuss__input--error:focus {
  border-color: $red;
}

.discuss__input::placeholder {
  color: rgba(43, 45, 58, 0.5);
}

.discuss__submit-button {
  @include reset-button;

  width: 100%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  color: $white;
  background-color: $blue;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  border-radius: 8px;
  padding: 16px;
}

.discuss__submit-button:hover,
.discuss__submit-button:focus {
  background-color: $navy-blue;
}

.discuss__submit-button:active {
  opacity: 0.7;
}

.discuss__safety-rules-link {
  color: $blue;
}

.discuss__safety-rules-link:hover,
.discuss__safety-rules-linkLfocus {
  color: $navy-blue;
}

.discuss__safety-rules-link:active {
  opacity: 0.7;
}

.discuss__checkbox-wrap {
  width: 20px;
  height: 20px;
  display: block;
  margin-right: 5px;
}

.discuss__confirmation {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.discuss__checkbox-label {
  position: relative;
}

.discuss__checkbox-label::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid $blue;
  border-radius: 3px;
  left: 0;
  top: 0;
  cursor: pointer;
}

.discuss__checkbox-label:hover::before {
  border-color: $navy-blue;
}

.discuss__checkbox-input:checked + .discuss__checkbox-label::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-image: url("../img/icons/icon-check.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 10px 10px;
  cursor: pointer;
  top: 2px;
  left: 3px;
}

.discuss__checkbox-input:focus + .discuss__checkbox-label::before {
  border-color: $navy-blue;
}

.discuss__checkbox-input--error:focus + .discuss__checkbox-label::before {
  border-color: $red;
}

.discuss__checkbox-input--error + .discuss__checkbox-label::before {
  border-color: $red;
}

.discuss__checkbox-input--error:checked + .discuss__checkbox-label::before {
  border-color: $blue;
}

@media (max-width: $mobile-width) {
  .discuss {
    width: 100%;
    border-radius: 12px;
    padding: 42px 16px 32px;
    left: 0%;
    transform: translate(0, -50%);
  }

  .discuss__question {
    font-size: 21px;
    line-height: 26px;
  }

  .discuss__description {
    font-size: 12px;
    line-height: 19px;
    margin-bottom: 19px;
  }

  .discuss__input {
    font-size: 14px;
    line-height: 16px;
    padding: 12px 13px 13px;
  }

  .discuss__confirmation-text {
    font-size: 9px;
    line-height: 11px;
  }

  .discuss__confirmation {
    margin-bottom: 13px;
  }

  .discuss__submit-button {
    font-size: 16px;
    line-height: 20px;
    padding: 13px;
  }

  .discuss__close-button::after,
  .discuss__close-button::before {
    width: 23px;
  }

  .discuss__close-button {
    top: 16px;
    right: 16px;
  }

  .discuss__form-item {
    &--name {
      margin-bottom: 16px;
    }

    &--phone {
      margin-bottom: 15px;
    }
  }
}
