.page-header__logo-icon {
  color: $blue;
}

.page-header__logo-title {
  color: $dark-charcoal;
}

.page-header__mail-address {
  color: $black;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.page-header__mail {
  display: flex;
  align-items: center;
}

.page-header__mail:hover .page-header__mail-address,
.page-header__mail:focus .page-header__mail-address,
.page-header__mail:hover .page-header__mail-icon,
.page-header__mail:focus .page-header__mail-icon,
.page-header__call-number:hover,
.page-header__call-number:focus {
  color: $navy-blue;
}

.page-header__mail:active,
.page-header__call-number:active {
  opacity: 0.7;
}

.page-header__call-title {
  color: $blue;
  font-size: 11px;
  line-height: 13px;
}

.page-header__call-number {
  color: $black;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.page-header__phone-icon {
  color: $blue;
  margin-right: 10px;
}

.page-header__wrap {
  max-width: 1157px;
  margin: 0 auto;
  padding: 20px 6px 13px;
  display: flex;

  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.page-header__sub-title {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.01em;
  text-transform: uppercase;

  display: inline-block;
  vertical-align: top;
  width: 147px;
  text-align: center;
  background-color: $blue;
  color: $white;
  border-radius: 3.92357px;

  box-shadow: -4px -2px $navy-blue;
  padding: 3px;
}

.page-header__logo-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 154px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.page-header__logo-link {
  display: flex;
  align-items: center;

  margin-bottom: 7px;
}

.page-header__call-wrap {
  display: flex;
  flex-direction: column;
}

.page-header__call {
  display: flex;
  align-items: center;
}

.page-header__mail-icon {
  margin-right: 10px;
  color: $blue;
}

.page-header__contacts {
  display: flex;
  max-width: 307px;
  justify-content: space-between;
  align-items: center;
  width: 28%;
  flex-wrap: wrap;
}

.page-header__menu-button {
  display: none;
}

.page-header__mobile-menu {
  max-width: 630px;
  width: 75%;
  margin-bottom: 5px;
}

.page-header__mobile-contacts {
  display: none;
}

@media (max-width: $mobile-width) {
  .page-header__contacts {
    display: none;
  }

  .page-header__wrap {
    position: relative;

    padding: 0;
  }

  .page-header__mobile-menu {
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    margin-bottom: 0;
    background-color: $light-grey;
    max-width: none;
    padding: 21px 4.27% 89px;
    z-index: 2000;
  }

  .page-header__menu-button {
    @include reset-button;

    width: 25px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .page-header__menu-button span {
    display: block;

    width: 19px;
    height: 2px;
    position: relative;
    background-color: transparent;
  }

  .page-header__menu-button span::before,
  .page-header__menu-button span::after {
    position: absolute;
    content: "";
    background-color: $black;
    width: 19px;
    height: 2px;
    left: 0;
    top: 0;
    transition: top 0.3s, transform 0.3s  0.3s;
  }

  .page-header__menu-button span::after {
    transform: rotate(-45deg);
  }

  .page-header__menu-button span::before {
    transform: rotate(45deg);
  }

  .page-header__menu-button:hover span::after,
  .page-header__menu-button:focus span::after,
  .page-header__menu-button:hover span::before,
  .page-header__menu-button:focus span::before {
    background-color: $blue;
  }

  .page-header__menu-button:active {
    opacity: 0.7;
  }

  .page-header {
    &--menu-closed {
      .page-header__menu-button span {
        background-color: $black;
      }

      .pager-header__menu-button span {
        background-color: $black;
      }

      .page-header__menu-button span::after,
      .page-header__menu-button span::before {
        transform: none;
        transform-origin: 50% 50%;
        transition: top 0.3s 0.3s, transform 0.3s;
      }

      .page-header__menu-button span::after {
        top: -6px;
      }

      .page-header__menu-button span::before {
        top: 6px;
      }

      .page-header__mobile-menu {
        display: none;
      }

      .page-header__menu-button:hover span,
      .page-header__menu-button:focus span {
        background-color: $blue;
      }
    }
  }

  .page-header__mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    padding: 52px 3.7% 15px 3%;
  }

  .page-header__mobile-contacts {
    display: flex;
    flex-direction: column;
  }

  .page-header__briefing-button {
    @include reset-button;

    width: 100%;
    display: inline-block;
    vertical-align: top;
    background-color: $blue;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: $white;
    border-radius: 6px;
    padding: 11px;

    margin-bottom: 32px;
  }

  .page-header__briefing-button:hover,
  .page-header__briefing-button:focus {
    background-color: $navy-blue;
  }

  .page-header__briefing-button:active {
    opacity: 0.7;
  }

  .page-header__mail-wrap {
    display: flex;
    flex-direction: column;
  }

  .page-header__mail-slogan {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 13px;
  }

  .page-header__mail-address {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: $blue;
  }

  .page-header__mobile-mail {
    display: flex;
    align-items: flex-start;
    color: $blue;
    opacity: 0.7;
  }

  .page-header__mobile-mail:hover .page-header__mail-address,
  .page-header__mobile-mail:focus .page-header__mail-address,
  .page-header__mobile-mail:hover .page-header__mobile-mail-icon,
  .page-header__mobile-mail:focus .page-header__mobile-mail-icon {
    color: $navy-blue;
  }

  .page-header__mobile-mail-icon {
    margin-right: 16px;
  }

  .page-header__sub-title {
    font-size: 8.9172px;
    line-height: 11px;
    width: 133px;
    border-radius: 3.56688px;
    padding: 2px 2px 1px;
    box-shadow: -4px -4px #2d3786;
  }

  .page-header__logo-icon {
    width: 33px;
    height: 25px;
  }

  .page-header__logo-title {
    width: 108px;
    height: 19px;
  }

  .page-header__logo-wrap {
    margin-right: 0;
    margin-bottom: 0;
    width: 143px;
  }

  .page-header__logo-link {
    margin-bottom: 7px;
  }
}
