$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$white: #ffffff;
$black: #2b2d3a;
$light-grey: #ebeef5;
$grey: rgba(43, 45, 58, 0.7);
$blue: #397dff;
$pale-grey: #f2f4f7;
$navy-blue: #2d3786;
$dark-charcoal: #3f476b;
$pale-blue: #b3bfca;
$red: rgb(240, 52, 52);
$light-blue: #dae3f6;
$beige:  #534320;
$mobile-width: 767px;
